// Colors
$mainC-main: #00730C;
$mainC-blackColor: #0B0B0B;
$mainC-thirdColor: #0C4B35;
$mainC-bgC: #E3E3E3;
$mainC-bgWC: #FFFFFF;
$mainC-bgDark: #242424;
$mainC-bgGrayLight: #F0F0F0;
$mainC-bgLightSecondary: #D9F1E0;
$mainC-lightC: #FBEEE7;
$mainC-bgLightThird: #FFF8F1;
$mainC-gradient: linear-gradient(#00730C 81%, #FBF6EE 0%);

$typographyC-main: #212529;
$typographyC-tWhite: #FFFFFF;
$typographyC-pColor: #676767;
$typographyC-pColorSecondary: #D7D7D7;

$iconC-main: #FFFFFF;

$socialIC-main: #2E4980;
$socialIC-fb: linear-gradient(#2E4980 100%, #395795 100%);
$socialIC-twitter: #009FEE;
$socialIC-google: #367CFF;
$socialIC-linkedIn: #0079B2;
$socialIC-pinterest: #EF1408;
